In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import locale
import pandas as pd

# Definir a localizaÃ§Ã£o padrÃ£o como "C"
locale.setlocale(locale.LC_ALL, 'C')

# Fazer uma solicitaÃ§Ã£o GET para o URL do site
url = "https://www.factor.gg/teams"
response = requests.get(url)

# Verificar se a solicitaÃ§Ã£o foi bem-sucedida
if response.status_code == 200:
    # Se a solicitaÃ§Ã£o foi bem-sucedida, analisar o conteÃºdo HTML usando BeautifulSoup
    soup = BeautifulSoup(response.content, "html.parser")

    # Encontrar a tabela usando a classe CSS da tabela
    table = soup.find("table", {"class": "w-full stats-table"})
   
    # Extrair as informaÃ§Ãµes da tabela e armazenÃ¡-las em uma lista
    data = []
    rows = table.find_all("tr")
    for row in rows:
        cols = row.find_all("td")
        cols = [col.text.strip() for col in cols]
        data.append(cols)

    # Remover todas as vÃ­rgulas da tabela
    data = [[col.replace(',', '') for col in row] for row in data]
    
    # Escrever a tabela em um arquivo CSV com ponto e vÃ­rgula como separador de colunas
    with open('teams.csv', 'w', newline='') as file:
        writer = csv.writer(file, delimiter=';')
        writer.writerows(data)            

else:
    # Se a solicitaÃ§Ã£o nÃ£o foi bem-sucedida, exibir uma mensagem de erro
    print("Erro ao acessar o site:", response.status_code)

df= pd.read_csv('teams.csv', sep=";")
display(df)

,56.3,57773.33,24725.22,955.83,0.5,0.28,1.11,0.44,0.72,0.5.1,...,826.17,3.58,1.74,198.49,48.33,0.83,7.94,275.67,51.33,79
0,53.26,67850.44,24478.39,880.00,0.17,0.06,0.83,0.56,0.61,0.44,...,985.33,3.00,2.53,224.93,57.06,0.50,7.17,337.45,58.78,95.28
1,52.64,61555.15,24398.00,-235.65,0.25,-0.25,0.90,0.65,0.60,0.45,...,892.20,3.30,3.30,206.30,53.00,0.85,6.55,290.00,55.25,78.35
2,51.26,61331.11,24650.06,925.72,0.39,0.22,0.67,0.44,0.39,0.78,...,933.72,2.52,2.90,204.00,51.33,0.94,6.39,304.92,62.17,83.06
3,49.38,59978.11,24866.79,522.68,0.37,0.21,0.79,0.63,0.42,0.74,...,865.26,2.97,2.39,189.92,51.37,0.74,7.63,297.60,58.84,84.11
4,49.05,63789.89,24575.00,224.42,0.42,-0.05,0.84,0.47,0.47,0.37,...,954.63,3.00,3.28,217.72,52.26,0.74,6.42,305.65,61.58,90.63
5,47.40,59894.28,23500.00,-922.72,0.11,-0.22,0.89,0.39,0.50,0.44,...,883.28,2.17,3.21,189.56,50.44,0.22,5.44,294.24,54.28,87.72
6,46.01,59089.22,24354.28,33.39,0.39,0.22,0.94,0.56,0.61,0.61,...,865.33,3.25,2.53,182.30,49.56,0.94,6.33,290.28,54.17,85.83
7,39.82,54010.33,23642.89,-1217.00,0.22,-0.22,0.56,0.39,0.28,0.28,...,854.89,2.26,3.37,169.69,48.22,0.56,4.06,259.96,54.94,73.94
8,38.95,54364.00,23607.72,-1182.00,0.22,-0.22,0.78,0.44,0.39,0.39,...,866.61,2.12,3.37,180.92,46.61,0.50,3.72,270.57,51.72,90.22

In [2]:
import requests
from bs4 import BeautifulSoup
import csv
import locale
import pandas as pd

# Definir a localizaÃ§Ã£o padrÃ£o como "C"
locale.setlocale(locale.LC_ALL, 'C')

# Fazer uma solicitaÃ§Ã£o GET para o URL do site
url = "https://www.factor.gg/teams"
response = requests.get(url)

# Verificar se a solicitaÃ§Ã£o foi bem-sucedida
if response.status_code == 200:
    # Se a solicitaÃ§Ã£o foi bem-sucedida, analisar o conteÃºdo HTML usando BeautifulSoup
    soup = BeautifulSoup(response.content, "html.parser")

    # Encontrar a tabela usando a classe CSS da tabela
    table = soup.find("table", {"class": "w-24 stats-table md:w-64"})

    # Extrair as informaÃ§Ãµes da tabela e armazenÃ¡-las em uma lista
    data = []
    rows = table.find_all("tr")
    for row in rows:
        cols = row.find_all("td")
        cols = [col.text.strip() for col in cols]
        data.append(cols)

    # Remover todas as vÃ­rgulas da tabela
    data = [[col.replace(',', '') for col in row] for row in data]

    # Escrever a tabela em um arquivo CSV com ponto e vÃ­rgula como separador de colunas
    with open('Classteams.csv', 'w', newline='') as file:
        writer = csv.writer(file, delimiter=';')
        writer.writerows(data)            

else:
    # Se a solicitaÃ§Ã£o nÃ£o foi bem-sucedida, exibir uma mensagem de erro
    print("Erro ao acessar o site:", response.status_code)

# LÃª o arquivo CSV
df = pd.read_csv('Classteams.csv', sep=';')

In [3]:
import csv
import requests
from bs4 import BeautifulSoup

url = 'https://www.factor.gg/teams'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find(class_='w-full stats-table')
rows = table.find_all('tr')

# pega a primeira linha da tabela
header_row = rows[0]

# obtÃ©m todas as cÃ©lulas da primeira linha e imprime o texto de cada cÃ©lula
cells = header_row.find_all('th')
row_values = []

for cell in cells:
    # obtÃ©m o texto da cÃ©lula
    cell_text = cell.text.strip()
    
    # remove tudo apÃ³s o segundo espaÃ§o
    cell_text = ' '.join(cell_text.split(' ')[:2])
    
    # remove a primeira ocorrÃªncia da palavra "POWR"
    cell_text = cell_text.replace('POWR ', '', 1)
    
    # remove todas as ocorrÃªncias das palavras escolhidas
    cell_text = cell_text.replace('Index', '').replace('Average', '')
    cell_text = cell_text.replace('First Blood', '').replace('First Dragon', '').replace('First Tower', '')
    
    row_values.append(cell_text)

# escreve os valores da linha em um arquivo CSV
with open('output.csv', mode='w', newline='', encoding='utf-8') as csv_file:
    writer = csv.writer(csv_file, delimiter=';')
    writer.writerow(row_values)

df= pd.read_csv('output.csv', sep=";")
display(df)

Empty DataFrame
Columns: [POWRÂ , AVG GÂ , AVG G@15Â , AVG GD@15Â , AVG T@15Â , AVG TD@15Â , AVG D@15MÂ , FBRÂ , FDRÂ , FTRÂ , AVG AÂ , AVG BÂ , AVG DMGPTFÂ , AVG DÂ , AVG DHOTPMÂ , AVG DTCPMÂ , AVG DKÂ , AVG INHIBÂ , AVG WDÂ , AVG KÂ , AVG MÂ , AVG MBDÂ , AVG MBKÂ , AVG NMÂ , AVG RCÂ , AVG SKÂ , AVG TKÂ , AVG VSÂ , AVG WKÂ , AVG WPÂ ]
Index: []

[0 rows x 30 columns]

In [4]:
import csv

# Abrir os arquivos CSV como listas
with open('teams.csv', 'r', newline='') as f_teams, open('output.csv', 'r', newline='') as f_output:
    reader_teams = csv.reader(f_teams, delimiter=';')
    reader_output = csv.reader(f_output, delimiter=';')
    data_teams = [row for row in reader_teams]
    data_output = [row for row in reader_output]

# Salvar a primeira linha do arquivo output.csv em uma variÃ¡vel
output_first_row = data_output[0]

# Adicionar a primeira linha do arquivo output.csv como a primeira linha do arquivo teams.csv
data_teams.insert(0, output_first_row)

# Escrever a lista combinada de volta em teams.csv
with open('teams.csv', 'w', newline='') as f_teams:
    writer_teams = csv.writer(f_teams, delimiter=';')
    writer_teams.writerows(data_teams)
    
df= pd.read_csv('teams.csv', sep=";")
display(df)

,POWR,AVG G,AVG G@15,AVG GD@15,AVG T@15,AVG TD@15,AVG D@15M,FBR,FDR,FTR,...,AVG M,AVG MBD,AVG MBK,AVG NM,AVG RC,AVG SK,AVG TK,AVG VS,AVG WK,AVG WP
0,56.30,57773.33,24725.22,955.83,0.50,0.28,1.11,0.44,0.72,0.50,...,826.17,3.58,1.74,198.49,48.33,0.83,7.94,275.67,51.33,79.00
1,53.26,67850.44,24478.39,880.00,0.17,0.06,0.83,0.56,0.61,0.44,...,985.33,3.00,2.53,224.93,57.06,0.50,7.17,337.45,58.78,95.28
2,52.64,61555.15,24398.00,-235.65,0.25,-0.25,0.90,0.65,0.60,0.45,...,892.20,3.30,3.30,206.30,53.00,0.85,6.55,290.00,55.25,78.35
3,51.26,61331.11,24650.06,925.72,0.39,0.22,0.67,0.44,0.39,0.78,...,933.72,2.52,2.90,204.00,51.33,0.94,6.39,304.92,62.17,83.06
4,49.38,59978.11,24866.79,522.68,0.37,0.21,0.79,0.63,0.42,0.74,...,865.26,2.97,2.39,189.92,51.37,0.74,7.63,297.60,58.84,84.11
5,49.05,63789.89,24575.00,224.42,0.42,-0.05,0.84,0.47,0.47,0.37,...,954.63,3.00,3.28,217.72,52.26,0.74,6.42,305.65,61.58,90.63
6,47.40,59894.28,23500.00,-922.72,0.11,-0.22,0.89,0.39,0.50,0.44,...,883.28,2.17,3.21,189.56,50.44,0.22,5.44,294.24,54.28,87.72
7,46.01,59089.22,24354.28,33.39,0.39,0.22,0.94,0.56,0.61,0.61,...,865.33,3.25,2.53,182.30,49.56,0.94,6.33,290.28,54.17,85.83
8,39.82,54010.33,23642.89,-1217.00,0.22,-0.22,0.56,0.39,0.28,0.28,...,854.89,2.26,3.37,169.69,48.22,0.56,4.06,259.96,54.94,73.94
9,38.95,54364.00,23607.72,-1182.00,0.22,-0.22,0.78,0.44,0.39,0.39,...,866.61,2.12,3.37,180.92,46.61,0.50,3.72,270.57,51.72,90.22

In [3]:
import screeninfo
import time

# obter informaÃ§Ãµes da tela secundÃ¡ria
screen = screeninfo.get_monitors()[1]
width, height = screen.width, screen.height

from selenium import webdriver
from selenium.webdriver.common.by import By

# obter informaÃ§Ãµes da tela secundÃ¡ria
screen = screeninfo.get_monitors()[1]
width, height = screen.width, screen.height

# definir as opÃ§Ãµes do ChromeDriver
options = webdriver.ChromeOptions()
options.add_argument(f'--window-position={width},{0}')
options.add_argument(f'--window-size={width},{height}')

# criar o driver com as opÃ§Ãµes definidas
driver = webdriver.Chrome(options=options)
driver.get("https://www.factor.gg/teams")
time.sleep(2)

element = driver.find_element(By.XPATH, '//*[@id="single-value"]/div[2]/div')
element.click()

element = driver.find_element(By.XPATH, '//*[@id="react-select-leagueSelect-option-3"]/div/div[2]')
element.click()

time.sleep(2)

import csv

with open('meu_arquivo.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file, delimiter=';')    
    dados = ["Team"] # criar uma lista vazia para armazenar os dados    
    for i in  range(1, 33):
        xpath = f'//*[@id="TeamRankingsLeaderboard"]/div[2]/table/thead/tr/th[{i}]/button'
        elemento = driver.find_element(By.XPATH, xpath)        
        dados.append(elemento.text) # adicionar cada elemento Ã  lista        
    writer.writerow(dados) # escrever a lista como uma linha no arquivo CSV    
       
    for j in range(1, 8):
        dados.clear() #Limpa a lista de dados 
        xpath = f'//*[@id="TeamRankingsLeaderboard"]/div[1]/table/tbody/tr[{j}]/td[2]/a/span'
        elemento = driver.find_element(By.XPATH, xpath)
        dados.append(elemento.text) # adicionar cada elemento Ã  lista      
        for i in  range(1, 33):
            xpath = f'//*[@id="TeamRankingsLeaderboard"]/div[2]/table/tbody/tr[{j}]/td[{i}]/span'
            elemento = driver.find_element(By.XPATH, xpath)
            dados.append(elemento.text) # adicionar cada elemento Ã  lista
        writer.writerow(dados) # escrever a lista como uma linha no arquivo CSV    
 

import pandas as pd

# carregar arquivo CSV em um dataframe do pandas
df = pd.read_csv('meu_arquivo.csv', delimiter=';')

# exibir o dataframe usando a funÃ§Ã£o display() do Jupyter Notebook
display(df)

,Team,RANK,W - L,POWR,AVG G,AVG G@15,AVG GD@15,AVG T@15,AVG TD@15,AVG D@15M,...,AVG M,AVG MBD,AVG MBK,AVG NM,AVG RC,AVG SK,AVG TK,AVG VS,AVG WK,AVG WP
0,FURIA Esports,1,12 - 2,52.36,"64,513.88","24,809.73","1,067.08",0.50,0.27,1.04,...,936.88,3.45,2.63,208.09,56.12,0.88,7.15,328.93,61.46,109.00
1,Los Grandes,1,10 - 4,52.83,"60,418.64","24,194.59",-467.59,0.23,-0.45,0.86,...,852.82,2.38,2.75,204.72,50.95,0.64,6.59,280.67,52.68,84.23
2,LOUD,3,8 - 6,55.75,"60,282.77","24,766.85",644.23,0.58,0.38,1.31,...,840.65,2.53,2.20,197.25,50.23,0.96,7.35,288.66,50.35,98.31
3,PaiN Gaming,3,8 - 6,50.63,"61,175.56","24,161.8",-34.96,0.32,-0.20,0.60,...,897.68,3.39,2.24,199.02,50.72,0.52,6.84,313.88,59.20,98.92
4,RED Kalunga,3,8 - 6,50.79,"59,693.31","23,779",-762.73,0.35,-0.12,0.96,...,872.38,2.98,3.15,206.48,50.12,0.62,6.27,280.29,51.12,95.88
5,KaBuM! e-Sports,5,11 - 7,48.49,"62,647.78","24,446.06",14.33,0.39,0.11,1.06,...,894.33,2.11,2.92,197.10,57.78,0.67,6.28,313.44,60.83,100.11
6,INTZ eSports,6,6 - 8,41.46,"56,412.33","24,270.06",-445.22,0.28,-0.11,0.83,...,787.89,1.74,2.01,177.10,48.72,1.22,5.78,269.81,51.44,83.44